<app-scripts></app-scripts>
<section id="hero">
<div class="container">
    <div id="main-container">
      <div class="login-register" id="login-register" #loginregister style="background-color: rgb(135, 35, 98);">
        <div class="nav-buttons">
          <button #loginBtn id="loginBtn" class="active" (click)="loginBtnclick()">Iniciar sesión </button>
          <button #registerBtn id="registerBtn" class="" (click)="registerBtnclick()">Registrarse</button>
        </div>
        <div class="form-group">

          <form method="post" action="loginp.php" id="loginform" #loginform style="left: 0px; opacity: 1;">
            <label for="username">Correo Electrónico</label>
            <input type="text" id="username" name="username" required="">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required="">
            <input type="submit" value="Iniciar sesión" class="submit">

          </form>

          <form method="post" action="daralta.php" id="registerform" #registerform style="opacity: 0;">

            <div class="search-box">
              <label for="fullname">Nombre </label>
              <input type="text" id="fullname" name="fullname" required="">
              <label for="empresa">Empresa Asociada:</label>
              <input id="buscar" name="buscar" type="text" autocomplete="off" required="" oninvalid="setCustomValidity('Si no esta asociado a una, ingresa NA')" oninput="setCustomValidity('')">

              <div class="result"></div>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required="">
              <label for="password">Contraseña</label>
              <input type="password" id="password" name="password" pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Debe contener entre 8 y 16 caracteres:(Dígitos,Mayusculas,  Minúsculas y simbolos)':'');
              if(this.checkValidity()) form.confirm_password.pattern=this.value; ">
              <label for="confirmpassword">Confirmar contraseña</label>
              <input type="password" id="confirmpassword" name="confirmpassword" pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$">


              <li id="checkterminos" style="list-style: none;">
                <input id="chkbxtyc" type="checkbox" required="">
                <label for="c1"><a href="../indexterminos.html">Aceptar Términos y Condiciones</a> </label>
              </li>

            </div>  


            <input type="submit" value="Registrar" class="submit">

          </form>
          <div id="forgot" #forgot style="left: 0px; opacity: 1;">
            <a href="forgot.php">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
  
     <script src="jquery.js"></script>
     <script src2="password.js"></script>
      
