<section id="header">
	<div class="header container">
		<div class="nav-bar">
			<div class="brand">
				<a href="/">

					<img src="/assets/img/logob.png" id="logoinicio" alt="VProductiva Logo">
					<!-- <h1>Valuación Productiva</h1>-->
				</a>
			</div>
			<div class="navbar">
				<div class="menu-toggle">☰</div>
				<ul class="menu">
					<li id="" >
						<a routerLink="/inicio" routerLinkActive="active-link" data-after="Home" class="headermenu iniciomn">INICIO</a>
					</li>

					<li id="fondocursos" >
						<a routerLink="/cursos" routerLinkActive="active-link" data-after="Projects" class="headermenu">CURSOS</a>
					</li>
					<li>
						<a routerLink="/nosotros" routerLinkActive="active-link" data-after="About" class="headermenu">NOSOTROS</a>
					</li>
					<li class="fondoinicio">
						<a routerLink="/contacto" routerLinkActive="active-link" data-after="Contact" class="headermenu">CONTACTO</a>
					</li>
					<li class="fondoinicio">
						<a routerLink="/ingresar" routerLinkActive="active-link" data-after="Login" class="headermenu" id="menuingresar">INGRESAR</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
