<section id="footer">
  <div id="divfooter">
    <div id="logopie" class="pie-rs1">
      <img src="assets/img/logoimp2.png" id="imgpie">
    </div>
    <div id="texto1pie" class="pie-rs2">
      <p id="parrafodireccion" class="parrafosfooter">Dirección: Av. Paseo de las Palmas 830, Int. 102-1.
        Lomas de Chapultepec V Sección. Miguel Hidalgo.
      Ciudad de México. C.P. 11000. México.</p>
      <p class="parrafosfooter">Teléfono: 55-104-680-95</p>
      <p class="parrafosfooter">Correo electrónico: impulsoramexicana@gmail.com</p>
    </div>
    <div id="texto2pie" class="pie-rs1">
      <p class="parrafosfooter"><a href="indexterminos.html" class="parrafosfooter" id="terminosycon">Terminos y Condiciones</a></p>
      <p id="parrafoter" class="parrafosfooter">© 2025 IMPULSORA MEXICANA DE PRODUCTIVIDAD LABORAL A.C.</p>
    </div>
  </div>
</section>