<!-- Service Section -->
<section id="hero" class="services heroservices">
    <div class="services container-s">
      <div class="cursosp1">
        <div class="imgcursosp1">
          <img src="assets/img/cursos/imgcursosp1.jpg" class="" >
        </div>
        <h1 id="texto1cursos">ESPECIALIZATE HOY MISMO</h1>
        <h2 id="texto2cursos">Forjando equipos para tener una especialización te brinda la oportunidad de destacar, aumentar tu empleabilidad y desarrollar habilidades valiosas que pueden abrir puertas a una carrera exitosa y satisfactoria preparados para el mañana.</h2>
      </div>
      <div class="titulocategoriascursos">
        <h1 id="titulocategorias"> Nuestras categorías de cursos</h1>
      </div>
          <div id="divtablacursos">
            <table>
              <tr class="filacentrada">
                <td class="celdacategoria"><a href="homecursos/cursoxarea.php?ida=1&name=Productividad Laboral"><img src="assets/img/cursos/areaplaboral.png" class="imagenesareas" 
                onmouseover="this.src='assets/img/cursos/areaplaboral2.png'" onmouseout="this.src='assets/img/cursos/areaplaboral.png'"></a></td>
                <td class="celdacategoria"><a href="homecursos/cursoxarea.php?ida=2&name=Habilidades Blandas"><img src="assets/img/cursos/areahblandas2.png" class="imagenesareas" 
                onmouseover="this.src='assets/img/cursos/areahblandas.png'" onmouseout="this.src='assets/img/cursos/areahblandas2.png'"></a></td>
                <td class="celdacategoria"><a href="homecursos/cursoxarea.php?ida=3&name=Psicologia"><img src="assets/img/cursos/areapsicologia.png" class="imagenesareas" 
                onmouseover="this.src='assets/img/cursos/areapsicologia2.png'" onmouseout="this.src='assets/img/cursos/areapsicologia.png'"></a></td>
                <td class="celdacategoria"><a href="homecursos/cursoxarea.php?ida=4&name=Salud e Higiene"><img src="assets/img/cursos/areasalud2.png" class="imagenesareas" 
                onmouseover="this.src='assets/img/cursos/areasalud.png'" onmouseout="this.src='assets/img/cursos/areasalud2.png'"></a></td>
              </tr>
            </table>
            <table id="cursostres">
              <tr class="filacentrada">
                <td class="celdacategoria"><a href="homecursos/cursoxarea.php?ida=5&name=Cultura Juridica"><img src="assets/img/cursos/areacjuridica2.png" class="imagenesareas" 
                onmouseover="this.src='assets/img/cursos/areacjuridica.png'" onmouseout="this.src='assets/img/cursos/areacjuridica2.png'"></a></td>
                <td class="celdacategoria"><a href="homecursos/cursoxarea.php?ida=6&name=Finanzas"><img src="assets/img/cursos/areafinanzas.png" class="imagenesareas" 
                onmouseover="this.src='assets/img/cursos/areafinanzas2.png'" onmouseout="this.src='assets/img/cursos/areafinanzas.png'"></a></td>
                <td class="celdacategoria"><a href="homecursos/cursoxarea.php?ida=7&name=Habilidades Digitales"><img src="assets/img/cursos/areahdigitales2.png" class="imagenesareas" 
                onmouseover="this.src='assets/img/cursos/areahdigitales.png'" onmouseout="this.src='assets/img/cursos/areahdigitales2.png'"></a></td>
                <!--<td class="celdacategoria"><a href=""><img src="images/areaotro.png" class="imagenesareas" 
                onmouseover="this.src='images/areaotro2.png'" onmouseout="this.src='images/areaotro.png'"></a></td>-->

              </tr>
            </table>
          </div>
    </div>
  </section>
  <!-- End Service Section -->