<!-- Service Section -->
<section id="hero" class="services container ">
  <div class="services container-s">
   
    <div class="titulocategoriascursos">
      <h1 id="titulocategorias"> Categorías principales</h1>
    </div>
    <div id="divtablacursos">
      <table>
        <tr class="filacentrada">
          <td *ngFor="let curso of cursos;" class="celdacategoria">
              <a routerLink="/alumno/area/{{curso.slug_a}}/">
                <img src="{{baseUrl}}img/imgareacursos/{{curso.imagen}}" class="imagenesareas" 
                (mouseenter)="imgOver($event, curso.imagen2)" (mouseleave)="imgOverOut($event, curso.imagen)" width="100%" height="100%">
              </a>
            </td>
          </tr>
        </table>

      </div>    
    </div>
  </section>
  <!-- End Service Section -->

