
<header id="encabezado">
        <ul id="menu">
            <li class="logo"><a href="index.php"><img src="../../assets/img/logob.png" id="logo"></a></li>
            
            <li id="miperfilfondo" class="menus"><a routerLink="/alumno/homeA/9" id="miperfil" class="letramenus">MI PERFIL</a></li>
            <li class="menus" id="menucatalogo"><a routerLink="alumno/cursosa/"  >CATÁLOGO DE CURSOS</a></li>
            <li class="menus"><a href="../inicio/">SALIR</a></li>
        </ul>
</header>