<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Reportes Encuesta</h1>
			</div><!-- /.col -->

		</div><!-- /.row -->
		<hr class="border-primary">
	</div><!-- /.container-fluid -->
</div>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 py-1 px-1 survey-item" *ngFor="let encuesta of encuestas; let i = index">
				<div class="card card-outline card-primary">
					<div class="card-header">
						<h3 class="card-title">{{encuesta.titulo}}</h3>

						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body" style="display: block;">
						<div class="row">
							<p>{{encuesta.descripcion}}</p>
						</div>
						<div class="row">
							<hr class="border-primary">
							<div class="d-flex justify-content-center w-100 text-center">
								<a routerLink="/panel/reporte-encuesta/{{encuesta.id}}" class="btn btn-sm bg-gradient-primary"><i class="fa fa-poll"></i> View Report</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>