
  <section id="formulario" >
    
    <div class="container">
        <div class="login-register">
            <div class="nav-buttons">
                <button id="loginBtn" class='active' >Inserte correo asociado </button>
                
            </div>
             <div class="form-group">

                    <form  method="post"  id="forgotform">
                    
                        <label for="email">Email</label>
                     <input type="text" [formControl]="miEmail"  >
                        <input type="submit" value="enviar" class="submit"  (click)="clickme()" >
                    </form>
                
                
                <div id="olvideregresar">
                <a routerLink="/ingresar">Regresar</a>
                </div>
            </div> 
            
           
         </div>
    </div>
</section >