.active-link {
  background-color: #1d264f;
  color: #fff;
}
.headermenu {
    padding: 18px 70px;
    display: block;
    font-size: 18px;
    text-decoration: none;
}
.navbar {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

img#logoinicio {
    width: 150px;
}
section#header {
    background-color: #fff;
}