<link rel="stylesheet" href="/assets/css/stylemenu.css">
<!-- <link rel="stylesheet" href="styles/style.css"> -->
<link rel="stylesheet" href="/assets/css/style-rs.css">
<link rel="stylesheet" href="/assets/css/all.min.css">
<link rel="stylesheet" href="/assets/main.css">

<section id="header">
    <div class="header container-fluid">
        <div class="nav-bar">
            <div class="brand">
                <a href="/">

                    <img src="/assets/img/logoimp.png" id="logoinicio" alt="VProductiva Logo">
                    <!-- <h1>Valuación Productiva</h1>-->
                </a>
            </div>
            <div class="navbar">
                <div class="menu-toggle">☰</div>
                <ul class="menu">
                    <li id="" >
                        <a routerLink="/instructor" id="miperfil" routerLinkActive="active-link" class="headermenu">MI PERFIL</a>
                    </li>
                    <li>
                        <a (click)="logout()" routerLink="/"  class="headermenu">SALIR</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>