    p#texto{
            text-align: center;
            color: white;
          }
          div#div_file{
            position: relative;
            padding: 0.5em;
            width: 9em;
            height: 2em;
            background-color: #00b0ff;
            -webkit-border-radius:5px;
            /*-webkit-box-shadow:0px 3px 0px #1a71a9;
            margin-left: 37%;*/
          }

          input#file1{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;


          }
            .u-section-2 {
          background-image: none;
          padding-top: 2.8em;
          margin-bottom: 5%;
        }
       /*  @font-face {
            font-family: Acumin;
            src: url(AcuminVariableConcept.ttf);
        } */
        .u-section-2 .u-sheet-1 {
          min-height: 908px;
        }
        .u-section-2 .u-text-1 {
          text-transform: uppercase;
          font-size: 1.2rem;
          --animation-custom_in-scale: 1;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: -300px;
          margin: 1.5em 405px 0 0;
          color: blue;
        }
        .u-section-2 .u-text-2 {
          font-size: 3.3rem;
          font-family: 'Montserrat';
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: -300px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 0deg;
          --animation-custom_in-scale: 1;
          font-weight: 500;
          /*margin: 42px 335px 0 0;*/
          color: #35363a;
        }
        .u-section-2 .u-text-3 {
          line-height: 1;
          font-size: 1.1rem;
          font-family: 'Open Sans';
          color: #35363a;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 300px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 0deg;
          --animation-custom_in-scale: 1;
          /*margin: 20px 327px 0 0;*/
        }
        .u-section-2 .u-text-4 {
          --animation-custom_in-scale: 1;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 300px;
          margin: 35px 503px 0 0;
        }
        .u-section-2 .u-btn-1 {
          margin-left: auto;
          padding: 0;
        }
        .u-section-2 .u-list-1 {
          margin-top: 2.8em;
          margin-bottom: 0;
        }
        .u-section-2 .u-repeater-1 {
          /*grid-template-columns: repeat(4, calc(25% - 22.5px));*/
          min-height: 273px;
          grid-gap: 30px;
        }
        .u-section-2 .u-list-item-1 {
          background-image: none;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 300px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 0deg;
          --animation-custom_in-scale: 1;
          box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
        }
        .u-section-2 .u-container-layout-1 {
          padding: 50px 30px 30px;
        }
        .u-section-2 .u-icon-1 {
          height: 59px;
          width: 59px;
          background-image: none;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 0px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 180deg;
          --animation-custom_in-scale: 1;
          margin: 0 auto 0 0;
          padding: 0;
        }
        .u-section-2 .u-text-5 {
          font-size: 1.5rem;
          font-weight: 400;
          margin: 31px 0 0;
        }
        .u-section-2 .u-btn-2 {
          font-size: 0.875rem;
          background-image: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 600;
          margin: 20px 0 0;
          padding: 0;
        }
        .u-section-2 .u-list-item-2 {
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 300px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 0deg;
          --animation-custom_in-scale: 1;
          box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
        }
        .u-section-2 .u-container-layout-2 {
          padding: 50px 30px 30px;
        }
        .u-section-2 .u-icon-2 {
          height: 59px;
          width: 59px;
          background-image: none;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 0px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 180deg;
          --animation-custom_in-scale: 1;
          margin: 0 auto 0 0;
          padding: 0;
        }
        .u-section-2 .u-text-6 {
          font-size: 1.5rem;
          font-weight: 400;
          margin: 31px 0 0;
        }
        .u-section-2 .u-btn-3 {
          font-size: 0.875rem;
          background-image: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 600;
          margin: 20px 0 0;
          padding: 0;
        }
        .u-section-2 .u-list-item-3 {
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 300px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 0deg;
          --animation-custom_in-scale: 1;
          box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
        }
        .u-section-2 .u-container-layout-3 {
          padding: 50px 30px 30px;
        }
        .u-section-2 .u-icon-3 {
          height: 59px;
          width: 59px;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 0px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 180deg;
          --animation-custom_in-scale: 1;
          margin: 0 auto 0 0;
          padding: 0;
        }
        .u-section-2 .u-text-7 {
          font-size: 1.5rem;
          font-weight: 400;
          margin: 31px 0 0;
        }
        .u-section-2 .u-btn-4 {
          font-size: 0.875rem;
          background-image: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 600;
          margin: 20px 0 0;
          padding: 0;
        }
        .u-section-2 .u-list-item-4 {
          /*background-image: url(img/carpetablanca.png);*/
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 300px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 0deg;
          --animation-custom_in-scale: 1;
          /*box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);*/
          height: 15em;
          /*text-align: center;*/
          background-color: #f6f6f6;
        }
        .u-section-2 .u-container-layout-4 {
          padding: 30px 30px 30px;
        }
        .u-section-2 .u-icon-4 {
          height: 100%;
          /*width: 59px;*/
          background-image: none;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 0px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 180deg;
          --animation-custom_in-scale: 1;
          margin: 0 auto 0 0;
          padding: 0;
          margin-left: 4em;
        }
        .u-section-2 .u-text-8 {
          font-size: 1.5rem;
          font-weight: 400;
          margin-bottom: 0.5em;
        }
        .u-section-2 .u-btn-5 {
          font-size: 0.875rem;
          background-image: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 600;
          margin: 20px 0 0;
          padding: 0;
        }
        .u-section-2 .u-group-1 {
          min-height: 257px;
          margin-top: 52px;
          margin-bottom: 60px;
          height: auto;
          --animation-custom_in-translate_x: 0px;
          --animation-custom_in-translate_y: 300px;
          --animation-custom_in-opacity: 0;
          --animation-custom_in-rotate: 0deg;
          --animation-custom_in-scale: 1;
        }
        .u-section-2 .u-container-layout-5 {
          padding: 30px;
        }
        .u-section-2 .u-text-9 {
          font-size: 3rem;
          margin: 0 auto 0 0;
        }
        .u-section-2 .u-btn-6 {
          border-style: solid;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;
          font-size: 0.875rem;
          align-self: center;
          text-align: center;
          margin: 15px auto 0 0;
          padding: 14px 46px 16px 44px;
        }

        #titulocursoinscrito{
        margin-left: 3em;
        margin-bottom: 3em;
        font-weight: 550;
        }

        #btncontinuarcurso{
          background-color: #00b0ff;
          border-radius: 25em;
          padding: 0.5em 2em;
          color: white;
          margin-left: 4em;
        }

        @media(min-width: 1800px){ 
          .u-section-2 {
            min-height: 1950px;
          }
        }

        @media (max-width: 1199px) {
          .u-section-2 .u-text-1 {
            margin-right: 205px;
          }
          .u-section-2 .u-text-2 {
            margin-right: 135px;
          }
          .u-section-2 .u-text-3 {
            margin-right: 127px;
          }
          .u-section-2 .u-text-4 {
            margin-right: 303px;
          }
          .u-section-2 .u-repeater-1 {
            min-height: 221px;
          }
          .u-section-2 .u-container-layout-1 {
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
          }
          .u-section-2 .u-group-1 {
            height: auto;
          }
        }
        @media (max-width: 991px) {
          .u-section-2 .u-sheet-1 {
            min-height: 1439px;
          }
          .u-section-2 .u-text-1 {
            margin-top: 60px;
            margin-right: 0;
          }
          .u-section-2 .u-text-2 {
            margin-right: 0;
          }
          .u-section-2 .u-text-3 {
            margin-right: 0;
          }
          .u-section-2 .u-text-4 {
            margin-right: 83px;
          }
          .u-section-2 .u-repeater-1 {
            /*grid-template-columns: repeat(2, calc(50% - 15px));*/
            min-height: 557px;
          }
          .u-section-2 .u-container-layout-1 {
            padding-top: 30px;
          }
          .u-section-2 .u-container-layout-2 {
            padding-top: 30px;
          }
          .u-section-2 .u-container-layout-3 {
            padding-top: 30px;
          }
          .u-section-2 .u-container-layout-4 {
            padding-top: 30px;
          }
          .u-section-2 .u-group-1 {
            min-height: 302px;
          }
        }

        @media screen and (max-width:850px){
          .u-section-2 .u-icon-4 {
            margin-left: 0;
          }
          /*div#div_file {
            margin-left: 25%;
          }*/
        }

        @media (max-width: 767px) {
          .u-section-2 .u-text-4 {
            margin-right: 0;
          }
          .u-section-2 .u-repeater-1 {
            grid-auto-columns: calc(50% - 15px);
          }
          .u-section-2 .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px;
          }
          .u-section-2 .u-container-layout-3 {
            padding-left: 10px;
            padding-right: 10px;
          }
          .u-section-2 .u-container-layout-4 {
            padding-left: 10px;
            padding-right: 10px;
          }
          .u-section-2 .u-group-1 {
            min-height: 302px;
          }
          .u-section-2 .u-container-layout-5 {
            padding-left: 20px;
            padding-right: 20px;
          }
          .u-section-2 .u-text-9 {
            font-size: 2.25rem;
          }
          .u-section-2 .u-btn-6 {
            margin-top: 20px;
          }
        }
        @media (max-width: 575px) {
          .u-section-2 .u-text-2 {
            font-size: 2.25rem;
          }
          .u-section-2 .u-repeater-1 {
            grid-template-columns: 100%;
            grid-auto-columns: calc(100% - 0px);
          }
          .u-section-2 .u-container-layout-2 {
            padding-left: 20px;
            padding-right: 20px;
          }
          .u-section-2 .u-container-layout-3 {
            padding-left: 20px;
            padding-right: 20px;
          }
          .u-section-2 .u-container-layout-4 {
            padding-left: 20px;
            padding-right: 20px;
          }
          .u-section-2 .u-text-9 {
            font-size: 1.875rem;
          }
          .u-section-2 .u-list-item-4 {
            height: auto;
          }

          
            }