<br><br><br><br><br><br><br><br><br><br>
<section class="u-align-left u-clearfix u-grey-5 u-section-2" id="carousel_0852">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        
            <h1 class="section-title"> <span>{{nombrearea}}</span></h1>

          <div class="u-align-left u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
            <table>
                <tbody>
                    <tr *ngFor="let row of chunk(cursos, 4)">
                        <td *ngFor="let curso of row"  class="filacentrada">
                            
 
                           <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                                            <span class="u-custom-item u-file-icon u-icon u-text-palette-2-base u-icon-1 ">
                                                <img src="{{baseUrl}}{{curso.icono}}" class="imagenesareas" width="100%" height="100%" alt="Icono del curso"> 
                                            </span>
                                                    <h4 class="u-text u-text-5">{{curso.nombrecurso}}</h4> 
                                                    <div style="margin: 0em 1em; padding-left: 1em; padding-bottom: 0.5em; margin-top: 2em;"> 
                                                        
                                                       <a routerLink="/alumno/temario/{{curso.id}}/">
                                                               
                                                                        Ver temario del curso
                                                        </a> 
                                                    </div>

                                                <div class="u-expanded-width u-list u-list-1">
                                                        <div class="u-repeater u-repeater-1">
                                                                    <div style="background-color: #00b0ff; border-radius: 25em; color: white; padding: 0em 1em; margin: 0em 1em;">
                                                                            <a 
                                                                                class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-custom-item u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-2">
                                                                                Inscribirse
                                                                            </a> 
                                                                    </div>
                                                            </div>
                                                </div>
                                        </div>
                        </td>
                    </tr>
                </tbody>

            </table> 
       
            </div>
        </div>
    </section>