
<div id="container-wrapper" class="container topalumno">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="section-title" *ngIf="(cursos.length>0)"> <span>{{cursos[0].nombrearea}}</span></h1>
                
            </div> 
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let curso of cursos;">
                <div class="curso-item">
                    <img src="{{baseUrl}}{{curso.icono}}" class="img-cursos"  alt="Icono del curso"> 
                    <div class="buttons-curso">
                        <div class="text-ct" >
                            <h4 class="title-curso">{{curso.nombrecurso}}</h4> 
                        </div>
                        <a routerLink="/alumno/temario/{{curso.id}}/" class="link-ct enlace-ct link-temario" > Ver temario del curso</a>
                        <p></p>

                        <a *ngIf="curso.inscrito!=0" class="btn btn-primary enlace-ct link-temario inscrito
                        " style=" border-radius: 1em;"> Inscrito</a>
                        <button *ngIf="curso.inscrito==0" (click)="inscribirse(curso.id)" class="btn btn-primary enlace-ct link-temario" style="background-color: #00b0ff; border-radius: 1em;"> Inscribirse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>