<div class="container-fluid" id="container-wrapper">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">

		<h1 class="h3 mb-0 text-gray-800">Contacto </h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="./">Home</a></li>
			<li class="breadcrumb-item " aria-current="page">Panel</li>
			<li class="breadcrumb-item active" aria-current="page">Contacto</li>
		</ol>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table id="users" class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Apellidos</th>
						<th scope="col">Correo</th>
						<th scope="col">Telefono</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let contacto of contactos" class="filacentrada">
						<td>{{contacto.nombre}}</td>
						<td>{{contacto.apellidos}}</td>
						<td>{{contacto.correo}}</td>
						<td>{{contacto.telefono}}</td>
					</tr>
				</tbody>

			</table>
		</div>	
	</div>
</div>
