<link rel="stylesheet" href="/assets/js/nicepage.js">
<!-- <link rel="stylesheet" href="/assets/plugins/bootstrap4/css/bootstrap.css"> -->
<link rel="stylesheet" href="/assets/plugins/bootstrap4/js/bootstrap.js">

<link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/panel/css/all.min.css">
<link rel="stylesheet" href="/assets/css/panel/css/adminlte.min.css">
<link rel="stylesheet" href="/assets/css/panel/css/styles2.css">

<br>
<router-outlet></router-outlet>
<br><br><br>