<!-- Service Section -->
<link rel="stylesheet" href="/assets/plugins/bootstrap4/css/bootstrap.css">
<section id="hero" class="services ">
	<div class="services container-s">
		
		<div id="container-wrapper" class="container ">
		    <div class="container">
		        <div class="row">
		            <div class="col">
		                <h1 class="section-title" *ngIf="(cursos.length>0)"> <span>{{cursos[0].nombrearea}}</span></h1>
		                <br>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let curso of cursos;">
		                <div class="curso-item">
		                    <img src="{{baseUrl}}{{curso.icono}}" class="img-cursos"  alt="Icono del curso"> 
		                    <div class="buttons-curso">
		                        <div class="text-ct" >
		                            <h4 class="title-curso">{{curso.nombrecurso}}</h4> 
		                        </div>
		                        <a routerLink="/infocursos/{{curso.id}}/" class="link-ct enlace-ct link-temario" > Ver temario del curso</a>
		                        <p></p>
		                        <a routerLink="/ingresar" class="btn btn-primary enlace-ct link-temario" style="background-color: #00b0ff; border-radius: 1em; color: #fff"> Inscribirse</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</section>
<!-- End Service Section -->

<app-scripts></app-scripts>