<section class="content">
	<div class="container">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-md-4">
					<div class="card card-outline card-primary">
						<div class="card-header">
							<h3 class="card-title">Detalles de Encuesta</h3>
						</div>
						<div class="card-body p-0 py-2">
							<div class="container-fluid" >
								<p>Titulo: <b>{{encuesta?.titulo}}</b></p>
								<p class="mb-0">Descripción:</p>
								<small>{{encuesta?.descripcion}}</small>
								<p>Inicio:: <b>{{encuesta?.start_date}}</b></p>
								<p>Fin: <b>{{encuesta?.end_date}}</b></p>

							</div>
							<hr class="border-primary">
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="card card-outline card-success">
						<div class="card-header">
							<h3 class="card-title"><b>Cuestionario de encuesta</b></h3>
							<!-- <div class="card-tools">
								<button class="btn btn-block btn-sm btn-default btn-flat border-success new_question" type="button" data-target="#pregunta" data-toggle="modal"><i class="fa fa-plus" ></i> Agregar nueva pregunta</button>
							</div> -->
						</div>
						<form  [formGroup]="questionForm" id="manage-sort" (ngSubmit)="enviar()">
							<div class="card-body ui-sortable">
								<div class="callout callout-info" *ngFor="let question of questions; trackBy: trackByPreguntaId">
										
									<h5>{{question.question}}</h5>	
									<div class="col-md-12">
										<div class="icheck-primary" *ngIf="question.type === 'radio'">
									      <div *ngFor="let opcion of question.options">
									        <input
									          type="radio"
									          [id]="'pregunta_' + question.id + '_' + opcion"
									          [name]="'pregunta_' + question.id"
									          [value]="opcion"
									          (change)="onChangeRespuesta(question.id, opcion)"
									          required
									        />
									        <label [for]="'pregunta_' + question.id + '_' + opcion">{{ opcion }}</label>
									      </div>
									      <div *ngIf="formularioEnviado && !respuestas[question.id]" class="text-danger">
									        Debes seleccionar una opción.
									      </div>
									    </div>
										<!-- Para tipo checkbox -->
									    <div class="icheck-primary" *ngIf="question.type === 'checkbox'">
									      <div *ngFor="let opcion of question.options; let i = index">
									        <input
									          type="checkbox"
									          [id]="'pregunta_' + question.id + '_' + i"
									          [name]="'pregunta_' + question.id + '_' + i"
									          [value]="opcion"
									          (change)="onChangeCheckbox(question!.id, opcion, $event)"
									        />
									        <label [for]="'pregunta_' + question.id + '_' + i">{{ opcion }}</label>
									      </div>
									      <div *ngIf="formularioEnviado && (!respuestas[question.id] || respuestas[question.id].length === 0)" class="text-danger">
									        Debes seleccionar al menos una opción.
									      </div>
									    </div>
										<!-- Para tipo text -->
									    <div class="form-group" *ngIf="question.type === 'text'">
									      <textarea
									        [name]="'pregunta_' + question.id"
									        (input)="onChangeRespuesta(question!.id, $any($event.target).value)"
									      ></textarea>
									      <div *ngIf="formularioEnviado && (!respuestas[question.id] || respuestas[question.id].trim() === '')" class="text-danger">
									        Debes escribir una respuesta.
									      </div>
									    </div>

									</div>	
								</div>
								<button type="submit" class="btn btn-primary btn-exa" style="text-transform: uppercase;">Enviar respuesta</button>
							</div>

						</form>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>