    
 <h1 class="section-title"> <span>{{nombrearea}}</span></h1>

    <table>
	<tbody>
		<tr>
			<td rowspan=10>
                  <img  style="width: 500px; height: auto;" src="{{baseUrl}}/img/imgcruta/{{ruta2}}" >
            </td>
			<td>
                <h1 id="titulocurso">{{nombrecurso}}</h1>
                <h3 id="descricpiontemario">{{descripcion}}</h3>
            </td>
		</tr>
		<tr>
			<td>
                  <h2 id="titulotemario">TEMARIO</h2>
            </td>
		</tr>
        <tr *ngFor="let modulo of modulos; let i = index">
            <td>
                <span style=" font-size: 22px;">Módulo {{i+1}}:</span>
                <br><span style=" font-size: 20px;">{{modulo.nombremodulo}}</span>
              
            </td>
        </tr>
	</tbody>
</table>
    
                 
    <!-- <div class="btnInscribirse">
        <a href="../../alumno/inscripcion.php?curso='.$idc.'&usuario='.$_SESSION["id"].'" 
        class="btnInscribirsebtn"
        class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-custom-item u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-2">
        INSCRIBIRSE</a>
    </div>';
     -->

    
            <div class="btnInscribirse">
            <a href="#" id="" class="btnInscribirsebtn" class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-custom-item u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-2">
            INSCRITO
            </a>
            </div>';  
           
 
      <!--  <div class="btnInscribirse" class="btnInscribirsebtn">
            <a href="../../alumno/inscripcion.php?curso='.$idc.'&usuario='.$_SESSION["id"].'" 
             class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-custom-item u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-2">
                INSCRIBIRSE
            </a>
        </div>
       
                   
                    </td>
                </tr>       
                 -->
           
          