<div class="container-fluid" id="container-wrapper">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">

		<h1 class="h3 mb-0 text-gray-800">Alumnos</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a routerLink="/panel">Home</a>
			</li>
			<li class="breadcrumb-item">Alumnos</li>
			<li class="breadcrumb-item active" aria-current="page">Administrar</li>
		</ol>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table   id="users" class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Email</th>
						<th scope="col">Estatus</th>
						<th scope="col">Empresas</th>
						<th scope="col">Acción</th> 
						<th scope="col">Tiempo de Conexión</th>
						<th scope="col">Ultima de Conexión</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of usuarios;">
						<td>{{user.nombre}} {{user.apellido_p}} {{user.apellido_m}}</td>
						<td>{{user.email}}</td>
						<td>
							<ng-template [ngIf]="user.estatus==1" >
								<span  class="badge badge-success" > 
									<a style="cursor: pointer;" class="text-white" (click)="estatus(user.id)">Activo</a>
								</span>
							</ng-template>
							<ng-template [ngIf]="user.estatus==0" >
								<span  class="badge badge-danger" > 
									<a style="cursor: pointer;" class="text-white" (click)="estatus(user.id)">Inactivo</a>
								</span>
							</ng-template>
						</td>
						<td>{{user.empresa}}</td>
						<td>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editusuario" (click)="editarU(user.id)" style="margin-bottom: 2px;">
								Modificar
							</button > 
							<button type="button" class="btn btn-warning" data-toggle="modal"  data-target="#cursomodal" (click)="asignarUser(user.id)">
								Agregar Curso
							</button> 
						</td>
						<td>Femenino</td>
						<td>Femenino</td>
						<!-- <td>
							<ng-template [ngIf]="user.tipousuario_id==1" >
								Administrador
							</ng-template>
							<ng-template [ngIf]="user.tipousuario_id==2" >
								Profesor
							</ng-template>
							<ng-template [ngIf]="user.tipousuario_id==3" >
								Alumno
							</ng-template>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="modal fade" id="editusuario"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #563d7c !important;">
						<h6 class="modal-title" style="color: #fff; text-align: center;">
							Modificar Información.
						</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form [formGroup]="editForm">
						<input type="hidden" name="idusuario" >
						<input type="hidden" name="tiposuario"   >
						<div class="modal-body" id="cont_modal">
							<div class="form-group">
								<label for="nombre" class="col-form-label">Nombre(s):</label>
								<input formControlName="nombre" type="text" name="nombre" class="form-control" value="nombre">
								<div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger">
					                <div *ngIf="nombre.errors?.['required']">
					                  El nombre es requerido.
					                </div>
					            </div>
							</div>
							<div class="form-group">
								<label for="apellido_p" class="col-form-label">Apellido Paterno:</label>
								<input formControlName="apellido_p" type="text" name="apellido_p" class="form-control"  >
								<div *ngIf="apellido_p.invalid && (apellido_p.dirty || apellido_p.touched)" class="text-danger">
					                <div *ngIf="apellido_p.errors?.['required']">
					                  El apellido paterno es requerido.
					                </div>
					            </div>
							</div>
							<div class="form-group">
								<label for="apellido_m" class="col-form-label">Apellido Materno:</label>
								<input formControlName="apellido_m" type="text" name="apellido_m" class="form-control"  >
								<div *ngIf="apellido_m.invalid && (apellido_m.dirty || apellido_m.touched)" class="text-danger">
					                <div *ngIf="apellido_m.errors?.['required']">
					                  El apellido materno es requerido.
					                </div>
					            </div>
							</div>
							<div class="form-group">
								<label for="email" class="col-form-label">Correo:</label>
								<input formControlName="email" type="email" name="email" class="form-control" >
								<div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
					                <div *ngIf="email.errors?.['required']">
					                  El email es requerido.
					                </div>
					                <div *ngIf="email.errors?.['email']">
					                  El email debe tener un formato válido.
					                </div>
					            </div>
							</div>
							<div class="form-group">
								<label for="password" class="col-form-label">Password:</label>
								<input formControlName="password" type="password" name="password" class="form-control"  >
								<div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
					                <div *ngIf="password.errors?.['required']">
					                  El password es requerido.
					                </div>
					            </div>
							</div>
							<div class="form-group">
								<label for="telefono" class="col-form-label">Telefono:</label>
								<input formControlName="telefono" type="number" name="telefono" class="form-control"  >
								<div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="text-danger">
					                <div *ngIf="telefono.errors?.['required']">
					                  El telefono es requerido.
					                </div>
					            </div>
							</div>
							<div>
								<input type="radio" formControlName="genero" value=0> Femenino<br>
								<input type="radio" formControlName="genero" value=1 > Masculino<br>
								<input type="radio" formControlName="genero" value=2> No especificar<br>
								<div *ngIf="genero.invalid && (genero.dirty || genero.touched)" class="text-danger">
					                <div *ngIf="genero.errors?.['required']">
					                  El genero es requerido.
					                </div>
					            </div>
							</div>
							<div class="form-group">
								<label class="col-form-label" for="fecha_alta">Fecha de alta</label>
								<input formControlName="fecha_alta" type="date" name="fecha_alta" class="form-control" >
								<div *ngIf="fecha_alta.invalid && (fecha_alta.dirty || fecha_alta.touched)" class="text-danger">
					                <div *ngIf="fecha_alta.errors?.['required']">
					                  La fecha es requerido.
					                </div>
					            </div>
							</div>
							<div>
								<select formControlName="empresa_id" name="empresa" id="empresa">
									<option>Empresa procedente</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							<button type="submit" class="btn btn-primary"   (click)="actualizar()">Guardar Cambios</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="modal fade" id="cursomodal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #563d7c !important;">
						<h6 class="modal-title" style="color: #fff; text-align: center;">
							Agregar Curso.
						</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form [formGroup]="cursoForm">
						<div class="modal-body" id="cont_modal">
							
							
							<div class="form-group">
								<label class="col-form-label" for="fecha_alta">Seleccione el curso</label><br>
								<select formControlName="curso_id" name="curso_id" id="curso_id" class="form-control" >
									<option value="" disabled selected>Selecciona una opción</option>
									<option *ngFor="let curso of cursos; let i = index" value="{{curso.id}}">{{curso.nombrecurso}} --- {{curso.nombrearea}}</option>
								</select>
								<div *ngIf="curso_id.invalid && (curso_id.dirty || curso_id.touched)" class="text-danger">
									<div *ngIf="curso_id.errors?.['required']">
										Seleccione una opcion.
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							<button type="submit" class="btn btn-primary"  (click)="agregarCurso()" >Guardar Cambios</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>