<section id="hero">

	<div class="slideshow-container">

		<div class="mySlides fade" style="display: none;">
			<img src="assets/img/slider1.jpg" style="width:100%">
			<div class="text1" id="text1">
				<a href="/contacto">
					<button id="btncontactanos">CONTÁCTANOS</button>
				</a>
			</div>
		</div>

		<div class="mySlides fade" style="display: block;">
			<!-- <div class="numbertext">2 / 3</div> -->
			<img src="assets/img/slider2.jpg" style="width:100%">
			<div class="text2" id="text2">
				<a routerLink="/cursos">
					<button id="btncursos">VER CURSOS</button>
				</a>
			</div>
		</div>

		<div class="mySlides fade" style="display: none;">
			<!-- <div class="numbertext">3 / 3</div> -->
			<img src="assets/img/slider3.jpg" style="width:100%">
			<div class="text3" id="text3">
				<a  routerLink="/contacto">
					<button id="btncontactanos2">CONTÁCTANOS</button>
				</a></div><a  routerLink="/contacto">
					
				</a></div><a routerLink="/contacto">
				</a><a class="prev" onclick="plusSlides(-1)">❮</a>
				<a class="next" onclick="plusSlides(1)">❯</a>

			</div>
			<div style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span> 
				<span class="dot active" onclick="currentSlide(2)"></span> 
				<span class="dot" onclick="currentSlide(3)"></span> 
			</div>
			<br>

			<div class="bienvenida" id="bienvenida">
  <!-- <table id="tabla1index">
    <tr id="filagrid">
      <td class="celdasbienvenida1">
        <h2 id="parrafo1bienvenida">BIENVENIDO A UNA PLATAFORMA QUE IMPULSA <br/>TU CRECIMIENTO PROFESIONAL.</h2>
        <h2 id="parrafo2bienvenida">“Entra a un mundo de <br/> conocimiento ilimitado”.</h2>
      </td>
      <td class="celdasbienvenida2">
        <p id="parrafo3bienvenida">Nuestra plataforma es una puerta de entrada al conocimiento,
          optimizador del desarrollo personal y profesional. Ofrecemos una
          amplia gama de cursos diseñados para satisfacer las necesidades
          de toda una Organización. Con acceso a expertos en diferentes
          áreas, contenido de alta calidad y una experiencia de aprendizaje
        única, sencilla y muy interactiva.</p>
      </td>
    </tr>
  </table> -->
  <div class="container-rs">
  	<div class="bv-row-rs">
  		<div class="col-rs col-rs1">
  			<div class="content-rs ctrs-1">
  				<h2 id="parrafo1bienvenida">BIENVENIDO A UNA PLATAFORMA QUE IMPULSA <br>TU CRECIMIENTO PROFESIONAL.</h2>
  				<h2 id="parrafo2bienvenida">“Entra a un mundo de <br> conocimiento ilimitado”.</h2>
  			</div>        
  		</div>
  		<div class="col-rs col-rs1">
  			<div class="content-rs ctrs-2">
  				<p id="parrafo3bienvenida">Nuestra plataforma es una puerta de entrada al conocimiento,
  					optimizador del desarrollo personal y profesional. Ofrecemos una
  					amplia gama de cursos diseñados para satisfacer las necesidades
  					de toda una Organización. Con acceso a expertos en diferentes
  					áreas, contenido de alta calidad y una experiencia de aprendizaje
  				única, sencilla y muy interactiva.</p>
  			</div>        
  		</div>
  	</div>
  </div>
</div>
<h2 *ngIf="!userLoginOn" class="alert alert-danger"><!--Usuario NO autenticado--></h2>
<h2 *ngIf="userLoginOn" class="alert alert-success">Usuario Autenticado</h2>
<h2 id="parrafo4bienvenida">La plataforma que centraliza el conocimiento y crecimiento profesional</h2>
<div class="divvercursos">
	<a routerLink="/cursos" type="button" class="btnvercursos">VER CURSOS</a>
</div>
<div class="banersinicio">
	<img src="assets/img/banerazul.jpg">
</div>
<div class="banersinicio">
	<img src="assets/img/banerazul2.jpg" id="imgbienvenida">
</div>
</section>

<app-scripts></app-scripts>
