   <!-- Formulario -->
  <section id="formulario">
    
    <div class="container">
        <div class="login-register">
            <div class="nav-buttons">
                <button id="loginBtn" class='active' >Inserte correo asocisado </button>
                
            </div>
                <div class="form-group">

                    <form method="post" id="forgotform">
                        <input type="text"id="id" name="id" value="codigo">
                        <label for="pass">Nueva Contraseña</label>
                        <input type="password" id="contrasena" name="contrasena">
                        <label for="pass">Confirme Contraseña</label>
                        <input type="password" id="contrasenad" name="contrasenad">
                        <input type="submit" value="Cambiar Contraseña" class="submit">
                    </form>
                        
                        <div id="regresar">
                            <a routerLink="/inicio">Regresar</a>
                        </div>
                </div>

        </div>
    </div>
</section>
<!-- End formulario -->